nav {
    background-image: #f8f9fa; 
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 20px;
    position: fixed; 
  }
  
  .nav-buttons .left-buttons {
    margin-left: auto;
    margin-right: 3%;
  }
  
  .nav-buttons .right-buttons {
    display: flex;
    gap: 10px;
  }
  
  
  button {
    padding: 10px 20px;
    background-color: #ff6a6a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff6a6a; 
  }
  
  button:focus {
    outline: none;
  }
  
  button[routerLink] {
    text-decoration: none; 
  }
  .nav-buttons .left-buttons {
    margin-left: auto;
  }
  
  .nav-buttons .right-buttons {
    display: flex;
    gap: 10px;
  }